# =========================
# WORDPRESS CORE (IGNORE)
# =========================
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/kctennisblastteam6

# =========================
# ENV / SECRETS
# =========================
.env
.env.*

# =========================
# DATABASE FILES
# =========================
*.sql
*.gz

# =========================
# DOCKER
# =========================
docker-compose.override.yml
docker-compose.prod.yml

# =========================
# NODE / BUILD
# =========================
node_modules/
dist/
build/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# LOGS
# =========================
*.log
copilot-instructions.md
